body {
    color: #fff;
    background: #2d2241;
}
h1 {
    color: #f9c802;
    text-shadow:  1px 1px 40px white;
}
h2 {
    color:#4169e1;
}
h3 {
    color: #8b8baa;
}
p {
    color: #fff;
}
a {
    color:hotpink;
}
.naglowek-h2{
    color:orangered;
}
.comic-sans-font {
    font-family: "Comic Sans MS";
}